body {
  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 50px;
}

main {
  flex: 1;
}

.app-wrapper {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: monospace;
}

hr {
  border: none;               
  height: 3px;               
  background: #0d6efd
}

.short-hr {
  margin: 15px 0;
  height: 3px;
}

h1,h2,h3 {
  font-weight: 600;
  
  
}

h4,h5{
  font-weight: 300;
}


/* CSS du Home */
.home-hero {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(15%);
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 4.5vw;
}

.hero-content h2 {
  font-size: 3.5vw;
}

.hero-content button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.hero-content button:hover{
  background-color: darkred;
  border-color: darkred;
}

button {
  text-align: center;
}


/* Css Modal */

.github-modal {
  background-color: #000 ;
  border-radius: 10px;
  color: #fff;
}

.modal-dialog {
  max-width: 1000px;
}

.github-modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.github-modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.modal-title {
  font-weight: 600;
}

.github-modal-info p {
  margin-bottom: 4px;
}

/* {Css contact} */

.map-container {
  height: 450px;
}

@media (min-width: 768px) {
  .map-container {
    height: 350;
  }
}

/* CSS footer */
.social-icons a {
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: none;
  color: #fff;
  }

  /* Css NavBar */
  .navbar-nav .nav-link.active {
  text-decoration: underline;
  font-weight: 600;
}
