body {
  margin: 0;
  font-family: "Nunito Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 50px; /* ajuster la page selon la navbar */
}

code {
  font-family: monospace;
}

hr {
  border: none;               
  height: 3px;               
  background: #0D6EFD
}

h1,h2,h3 {
  font-weight: 600;
  
  
}

h4,h5{
  font-weight: 300;
}

.home-hero {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(15%);
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 4.5vw;
}

.hero-content h2 {
  font-size: 3.5vw;
}

.hero-content button {
  background-color: red;
  border-color: red;
  color: white;
}

.hero-content button:hover {
  background-color: darkred;
  border-color: darkred;
}

button {
  text-align: center;
}

.github-modal {
  background-color: #121212 ;
  border-radius: 10px;
  color: white;
}

.modal-dialog {
  max-width: 1000px;
}

.github-modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.github-modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.modal-title {
  font-weight: 600;
}

.github-modal-info p {
  margin-bottom: 4px;
}

.short-hr {
  margin: 15px 0;
  height: 3px;
}

